/* CSS DO PAINEL DE MOSTRAR AS PERGUNTAS */




 #flip {
	  padding: 5px;
    background: #fff;
    border-radius: 4px 4px 0px 0px;
    box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
#flip:hover  {
    padding: 5px;
    background: #fff;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2), 0 7px 10px -5px rgba(0, 0, 0, 6);
    }
    .panel {

    padding: 50px;
    display: none;
    background: #fff;
    width: 100%;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2), 0 7px 10px -5px rgba(0, 0, 0, 0.6);
}

a:hover #teste{

	 box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.1), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 50%;

 }

 #flip2 {
      padding: 5px;
      background-color: rgba(255, 255, 207, 0.85);
      box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.1);
      }

   #flip2:hover {
    padding: 5px;
    background-color: rgba(255, 255, 207, 0.85);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2), 0 7px 10px -5px rgba(0, 0, 0, 6);
    }

    .panel2 {
    padding: 50px;
    display: none;
    border-radius: 0px 0px 4px 4px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.2), 0 7px 10px -5px rgba(0, 0, 0, 0.6);
  }

a:hover #teste{

     box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.1), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
     border-radius: 50%;
 }

#closeborda{

     box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.1), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
     border-radius: 50%;
 }


 .close:hover {

  box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;  
  padding: 5px 15px;

 }


.navcolor{

    position: relative;
    color: purple;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: 0.3s background-color 0s;
}

.navcolor:hover{

  border-radius: 5px;
  color: #fff;
  background-color: rgba(77, 34, 109,0.85);;
}

/*#texto {
  background-color: rgba(235, 235, 235, 0.9);
  box-shadow: 0 4px 20px 4px rgba(0, 0, 0, 0.1), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  width: 50%;
  display: none;
  position: absolute;
  z-index: 9999;

}*/
/* #flip2:hover #texto {
  display: block;
 
 animation-duration: 5s;
}*/
/*///////////////////////////////////*/